<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews -Indexes
    </IfModule>

    # Ưu tiên index.html của React lên trước index.php của Laravel
    DirectoryIndex index.html index.php

    RewriteEngine On

    # Xử lý Header cấp quyền Token
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

    # Bỏ dấu gạch chéo dư thừa ở cuối URL
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_URI} (.+)/$
    RewriteRule ^ %1 [L,R=301]

    # Gửi các request API và OAuth callback cho Laravel xử lý (index.php)
    RewriteCond %{REQUEST_URI} ^/api/ [OR]
    RewriteCond %{REQUEST_URI} ^/sanctum/ [OR]
    RewriteCond %{REQUEST_URI} ^/storage/ [OR]
    RewriteCond %{REQUEST_URI} ^/auth/google/
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]

    # Gửi toàn bộ các request giao diện còn lại cho React (index.html)
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.html [L]
</IfModule>