 # Gửi các request API cho Laravel xử lý (index.php)
 RewriteCond %{REQUEST_URI} ^/api/ [OR]
 RewriteCond %{REQUEST_URI} ^/sanctum/ [OR]
 RewriteCond %{REQUEST_URI} ^/storage/
 RewriteCond %{REQUEST_FILENAME} !-d
 RewriteCond %{REQUEST_FILENAME} !-f
 RewriteRule ^ index.php [L]

 # Gửi toàn bộ các request giao diện còn lại cho React (index.html)
 RewriteCond %{REQUEST_FILENAME} !-d
 RewriteCond %{REQUEST_FILENAME} !-f
 RewriteRule ^ index.html [L]
